.u-section-1 {background-image: url("images/dddd-min.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 673px}
.u-section-1 .u-group-1 {width: 610px; min-height: 484px; margin: 60px 0 60px auto}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {text-transform: uppercase; font-weight: 900; font-size: 5.625rem; line-height: 0.8; margin: 45px 0 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 555px}
.u-section-1 .u-group-1 {width: 522px}
.u-section-1 .u-text-1 {font-size: 7.5rem} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 562px}
.u-section-1 .u-group-1 {width: 437px; min-height: 387px}
.u-section-1 .u-text-1 {font-size: 4.5rem; line-height: 1} }

@media (max-width: 767px){ .u-section-1 {background-position: 57.2% 25.53%; background-size: auto 115%}
.u-section-1 .u-sheet-1 {min-height: 454px}
.u-section-1 .u-group-1 {width: 323px; min-height: 334px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-1 {font-size: 4.875rem} }

@media (max-width: 575px){ .u-section-1 {background-position: 57.61% 20.64%; background-size: auto 125%}
.u-section-1 .u-sheet-1 {min-height: 286px}
.u-section-1 .u-group-1 {width: 280px}
.u-section-1 .u-text-1 {font-size: 4.5rem} }.u-section-2 .u-sheet-1 {min-height: 642px}
.u-section-2 .u-layout-wrap-1 {margin-top: 50px; margin-bottom: 50px}
.u-section-2 .u-layout-cell-1 {min-height: 542px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-text-1 {letter-spacing: 12px; text-transform: uppercase; font-weight: 100; font-size: 1.25rem; margin: 326px auto 0 0}
.u-section-2 .u-text-2 {font-weight: 900; text-transform: uppercase; font-size: 4.5rem; margin: 23px auto 0 0}
.u-section-2 .u-layout-cell-2 {min-height: 275px}
.u-section-2 .u-container-layout-2 {padding: 30px 10px}
.u-section-2 .u-text-3 {letter-spacing: 0; line-height: 1.8; text-transform: none; margin: 0}
.u-section-2 .u-link-1 {border-style: solid; padding-bottom: 2px; text-transform: uppercase; letter-spacing: 2px; margin: 20px auto 0 0}
.u-section-2 .u-layout-cell-3 {min-height: 269px}
.u-section-2 .u-container-layout-3 {padding: 10px}
.u-section-2 .u-layout-cell-4 {min-height: 269px}
.u-section-2 .u-container-layout-4 {padding: 10px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 430px}
.u-section-2 .u-layout-wrap-1 {position: relative}
.u-section-2 .u-layout-cell-1 {min-height: 447px}
.u-section-2 .u-layout-cell-2 {min-height: 227px}
.u-section-2 .u-layout-cell-3 {min-height: 222px}
.u-section-2 .u-layout-cell-4 {min-height: 222px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 775px}
.u-section-2 .u-layout-wrap-1 {margin-top: 45px; margin-bottom: 45px}
.u-section-2 .u-layout-cell-1 {min-height: 278px}
.u-section-2 .u-text-1 {margin-top: 0}
.u-section-2 .u-text-2 {font-size: 3rem}
.u-section-2 .u-layout-cell-2 {min-height: 107px}
.u-section-2 .u-layout-cell-3 {min-height: 340px}
.u-section-2 .u-layout-cell-4 {min-height: 340px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 975px}
.u-section-2 .u-layout-wrap-1 {margin-top: 50px; margin-bottom: 50px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-layout-cell-3 {min-height: 510px}
.u-section-2 .u-layout-cell-4 {min-height: 510px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 818px}
.u-section-2 .u-layout-cell-1 {min-height: 133px}
.u-section-2 .u-text-2 {width: auto}
.u-section-2 .u-layout-cell-3 {min-height: 321px}
.u-section-2 .u-layout-cell-4 {min-height: 321px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 692px}
.u-section-3 .u-layout-wrap-1 {width: 1078px; margin: 0 0 0 auto}
.u-section-3 .u-image-1 {min-height: 692px; background-image: url("images/pexels-photo-3584758.jpeg"); background-position: 50% 50%}
.u-section-3 .u-container-layout-1 {padding: 20px 17px 20px 20px}
.u-section-3 .u-layout-cell-2 {min-height: 231px}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-icon-1 {height: 38px; width: 38px; background-image: none; margin: 0 auto 0 0}
.u-section-3 .u-text-1 {text-transform: uppercase; letter-spacing: 2px; font-weight: 700; font-size: 1.25rem; margin: 19px 2px 0}
.u-section-3 .u-text-2 {font-style: normal; margin: 28px 4px 0 0}
.u-section-3 .u-layout-cell-3 {min-height: 230px}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-icon-2 {height: 38px; width: 38px; background-image: none; margin: 0 auto 0 0}
.u-section-3 .u-text-3 {text-transform: uppercase; letter-spacing: 2px; font-weight: 700; font-size: 1.25rem; margin: 20px 4px 0 0}
.u-section-3 .u-text-4 {font-style: normal; margin: 20px 4px 0 0}
.u-section-3 .u-layout-cell-4 {min-height: 231px}
.u-section-3 .u-container-layout-4 {padding: 30px 30px 0}
.u-section-3 .u-icon-3 {height: 38px; width: 38px; background-image: none; margin: 13px auto 0 0}
.u-section-3 .u-text-5 {text-transform: uppercase; letter-spacing: 2px; font-weight: 700; font-size: 1.25rem; margin: 19px 5px 0 1px}
.u-section-3 .u-text-6 {font-style: normal; margin: 20px 6px 0 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 765px}
.u-section-3 .u-layout-wrap-1 {width: 940px}
.u-section-3 .u-image-1 {min-height: 631px}
.u-section-3 .u-layout-cell-2 {min-height: 210px}
.u-section-3 .u-text-1 {margin-right: 0; margin-left: 0}
.u-section-3 .u-text-2 {margin-right: 0}
.u-section-3 .u-layout-cell-3 {min-height: 210px}
.u-section-3 .u-text-3 {margin-right: 0}
.u-section-3 .u-text-4 {margin-right: 0}
.u-section-3 .u-layout-cell-4 {min-height: 210px}
.u-section-3 .u-text-5 {margin-right: 0; margin-left: 0}
.u-section-3 .u-text-6 {margin-right: 0} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 662px}
.u-section-3 .u-layout-wrap-1 {width: 720px}
.u-section-3 .u-image-1 {min-height: 483px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-layout-cell-3 {min-height: 100px}
.u-section-3 .u-layout-cell-4 {min-height: 100px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 1223px}
.u-section-3 .u-layout-wrap-1 {width: 540px}
.u-section-3 .u-image-1 {min-height: 530px}
.u-section-3 .u-container-layout-1 {padding-right: 10px; padding-left: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 933px}
.u-section-3 .u-layout-wrap-1 {width: 340px}
.u-section-3 .u-image-1 {min-height: 334px}
.u-section-3 .u-text-1 {font-size: 1.5}
.u-section-3 .u-text-5 {font-size: 1.5} }.u-section-4 .u-sheet-1 {min-height: 642px}
.u-section-4 .u-layout-wrap-1 {margin-top: 50px; margin-bottom: 50px}
.u-section-4 .u-layout-cell-1 {min-height: 542px}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-text-1 {letter-spacing: 12px; text-transform: uppercase; font-weight: 100; font-size: 1.25rem; margin: 326px auto 0 0}
.u-section-4 .u-text-2 {font-weight: 900; text-transform: uppercase; font-size: 4.5rem; margin: 23px auto 0 0}
.u-section-4 .u-layout-cell-2 {min-height: 275px}
.u-section-4 .u-container-layout-2 {padding: 30px 10px}
.u-section-4 .u-text-3 {letter-spacing: 0; line-height: 1.8; text-transform: none; margin: 0}
.u-section-4 .u-link-1 {border-style: solid; padding-bottom: 2px; text-transform: uppercase; letter-spacing: 2px; margin: 20px auto 0 0}
.u-section-4 .u-layout-cell-3 {min-height: 269px}
.u-section-4 .u-container-layout-3 {padding: 10px}
.u-section-4 .u-layout-cell-4 {min-height: 269px}
.u-section-4 .u-container-layout-4 {padding: 10px} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 430px}
.u-section-4 .u-layout-wrap-1 {position: relative}
.u-section-4 .u-layout-cell-1 {min-height: 447px}
.u-section-4 .u-layout-cell-2 {min-height: 227px}
.u-section-4 .u-layout-cell-3 {min-height: 222px}
.u-section-4 .u-layout-cell-4 {min-height: 222px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 775px}
.u-section-4 .u-layout-wrap-1 {margin-top: 45px; margin-bottom: 45px}
.u-section-4 .u-layout-cell-1 {min-height: 278px}
.u-section-4 .u-text-1 {margin-top: 0}
.u-section-4 .u-text-2 {font-size: 3rem}
.u-section-4 .u-layout-cell-2 {min-height: 107px}
.u-section-4 .u-layout-cell-3 {min-height: 340px}
.u-section-4 .u-layout-cell-4 {min-height: 340px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 975px}
.u-section-4 .u-layout-wrap-1 {margin-top: 50px; margin-bottom: 50px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-layout-cell-3 {min-height: 510px}
.u-section-4 .u-layout-cell-4 {min-height: 510px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 818px}
.u-section-4 .u-layout-cell-1 {min-height: 133px}
.u-section-4 .u-text-2 {width: auto}
.u-section-4 .u-layout-cell-3 {min-height: 321px}
.u-section-4 .u-layout-cell-4 {min-height: 321px} }.u-section-5 {background-image: url("images/pexels-photo-1391404.png"); background-position: 50% 50%}
.u-section-5 .u-sheet-1 {min-height: 764px}
.u-section-5 .u-layout-wrap-1 {width: 326px; margin: 0 2px 0 auto}
.u-section-5 .u-layout-cell-1 {min-height: 292px; background-image: none}
.u-section-5 .u-container-layout-1 {padding: 30px}
.u-section-5 .u-icon-1 {height: 48px; width: 48px; background-image: none; margin: 0 auto 0 0}
.u-section-5 .u-text-1 {font-size: 1.25rem; letter-spacing: 2px; font-weight: 700; margin: 32px 0 0}
.u-section-5 .u-text-2 {font-size: 0.875rem; margin: 20px 0 0}
.u-section-5 .u-layout-cell-2 {background-position: 0% 0%; min-height: 242px; background-image: none}
.u-section-5 .u-container-layout-2 {padding: 30px}
.u-section-5 .u-icon-2 {height: 48px; width: 48px; background-image: none; margin: 0 auto 0 0}
.u-section-5 .u-text-3 {font-size: 1.25rem; letter-spacing: 2px; font-weight: 600; margin: 30px 0 0}
.u-section-5 .u-text-4 {font-size: 0.875rem; margin: 20px 0 0}
.u-section-5 .u-layout-cell-3 {background-position: 0% 0%; min-height: 259px; background-image: none}
.u-section-5 .u-container-layout-3 {padding: 30px}
.u-section-5 .u-icon-3 {height: 48px; width: 48px; background-image: none; margin: 0 auto 0 0}
.u-section-5 .u-text-5 {font-size: 1.25rem; letter-spacing: 2px; font-weight: 600; margin: 29px 0 0}
.u-section-5 .u-text-6 {font-size: 0.875rem; margin: 21px 0 0} 

@media (max-width: 1199px){ .u-section-5 {min-height: 166px}
.u-section-5 .u-sheet-1 {min-height: 166px}
.u-section-5 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px}
.u-section-5 .u-layout-cell-1 {min-height: 100px}
.u-section-5 .u-icon-1 {position: relative}
.u-section-5 .u-text-1 {margin-left: -1px; margin-right: -1px}
.u-section-5 .u-text-2 {margin-left: -1px; margin-right: -1px}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-icon-2 {position: relative}
.u-section-5 .u-text-3 {margin-left: -1px; margin-right: -1px}
.u-section-5 .u-text-4 {margin-left: -1px; margin-right: -1px}
.u-section-5 .u-layout-cell-3 {min-height: 100px}
.u-section-5 .u-icon-3 {position: relative}
.u-section-5 .u-text-5 {margin-left: -1px; margin-right: -1px}
.u-section-5 .u-text-6 {margin-left: -1px; margin-right: -1px} }

@media (max-width: 991px){ .u-section-5 {min-height: 369px}
.u-section-5 .u-sheet-1 {min-height: 217px} }

@media (max-width: 767px){ .u-section-5 {background-position: 71.6% 100%}
.u-section-5 .u-layout-wrap-1 {margin-top: 0; margin-bottom: 0}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-5 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-text-3 {margin-left: 0; margin-right: 0}
.u-section-5 .u-text-4 {margin-left: 0; margin-right: 0}
.u-section-5 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-text-5 {margin-left: 0; margin-right: 0}
.u-section-5 .u-text-6 {margin-left: 0; margin-right: 0} }

@media (max-width: 575px){ .u-section-5 {background-position: 56.05% 100%}
.u-section-5 .u-layout-wrap-1 {width: 338px; margin-top: 60px; margin-bottom: 60px; margin-right: auto}
.u-section-5 .u-layout-cell-1 {min-height: 298px}
.u-section-5 .u-layout-cell-2 {min-height: 274px}
.u-section-5 .u-layout-cell-3 {min-height: 298px} }.u-block-94b0-2 {position: absolute; bottom: 10px}
.u-block-94b0-3 {position: absolute; left: 0; width: 50px; height: 50px}
.u-block-94b0-4 {position: absolute; right: 0; width: 50px; height: 50px}.u-section-6-1 .u-sheet-1 {min-height: 677px}
.u-section-6-1 .u-group-1 {width: 800px; min-height: 586px; margin: 60px auto}
.u-section-6-1 .u-container-layout-1 {padding: 30px}
.u-section-6-1 .u-text-1 {line-height: 2; font-weight: 400; margin: 0}
.u-section-6-1 .u-image-1 {width: 250px; height: 250px; background-image: url("images/pexels-photo-1372977.png"); background-position: 50% 50%; margin: 30px auto 0 245px}
.u-section-6-1 .u-text-2 {font-size: 1.25rem; letter-spacing: 12px; text-transform: uppercase; font-weight: 100; margin: 20px 0 0}
.u-section-6-1 .u-text-3 {font-size: 4.5rem; letter-spacing: 2px; text-transform: uppercase; font-weight: 900; margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-6-1 .u-sheet-1 {min-height: 391px} }

@media (max-width: 991px){ .u-section-6-1 .u-sheet-1 {min-height: 299px}
.u-section-6-1 .u-group-1 {width: 720px}
.u-section-6-1 .u-image-1 {margin-left: auto}
.u-section-6-1 .u-text-3 {font-size: 3rem} }

@media (max-width: 767px){ .u-section-6-1 .u-sheet-1 {min-height: 224px}
.u-section-6-1 .u-group-1 {width: 540px}
.u-section-6-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-6-1 .u-sheet-1 {min-height: 141px}
.u-section-6-1 .u-group-1 {width: 340px} }.u-section-6-2 .u-sheet-1 {min-height: 677px}
.u-section-6-2 .u-group-1 {width: 800px; min-height: 586px; margin: 60px auto}
.u-section-6-2 .u-container-layout-1 {padding: 30px}
.u-section-6-2 .u-text-1 {line-height: 2; font-weight: 400; margin: 0}
.u-section-6-2 .u-image-1 {width: 250px; height: 250px; background-image: url("images/pexels-photo-3880976.jpeg"); background-position: 50% 50%; margin: 30px auto 0 245px}
.u-section-6-2 .u-text-2 {font-size: 1.25rem; letter-spacing: 12px; text-transform: uppercase; font-weight: 100; margin: 20px 0 0}
.u-section-6-2 .u-text-3 {font-size: 4.5rem; letter-spacing: 2px; text-transform: uppercase; font-weight: 900; margin: 20px 7px 0 -7px} 

@media (max-width: 1199px){ .u-section-6-2 .u-sheet-1 {min-height: 391px} }

@media (max-width: 991px){ .u-section-6-2 .u-sheet-1 {min-height: 299px}
.u-section-6-2 .u-group-1 {width: 720px}
.u-section-6-2 .u-image-1 {margin-left: auto}
.u-section-6-2 .u-text-3 {font-size: 3rem; margin-left: 0; margin-right: 0} }

@media (max-width: 767px){ .u-section-6-2 .u-sheet-1 {min-height: 224px}
.u-section-6-2 .u-group-1 {width: 540px}
.u-section-6-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-6-2 .u-sheet-1 {min-height: 141px}
.u-section-6-2 .u-group-1 {width: 340px} }.u-section-7 .u-sheet-1 {min-height: 567px}
.u-section-7 .u-gallery-1 {height: 220px; grid-template-columns: repeat(5, auto); grid-gap: 20px; margin: 60px auto 0 0}
.u-section-7 .u-back-image-1 {object-position: 50% 50%}
.u-section-7 .u-over-slide-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-7 .u-back-image-2 {object-position: 50% 50%}
.u-section-7 .u-over-slide-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-7 .u-back-image-3 {object-position: 50% 0%}
.u-section-7 .u-over-slide-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-7 .u-back-image-4 {object-position: 50% 50%}
.u-section-7 .u-over-slide-4 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-7 .u-gallery-item-5 {box-shadow: 0 0 0 0 rgba(0,0,0,0)}
.u-section-7 .u-back-image-5 {object-position: 50% 50%}
.u-section-7 .u-over-slide-5 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); transition-duration: 0.5s; padding: 20px}
.u-section-7 .u-social-icons-1 {white-space: nowrap; height: 32px; min-height: 16px; width: 116px; min-width: 68px; margin: 43px auto 0}
.u-section-7 .u-icon-1 {height: 100%}
.u-section-7 .u-icon-2 {height: 100%}
.u-section-7 .u-icon-3 {height: 100%}
.u-section-7 .u-text-1 {font-size: 4.5rem; background-image: none; text-transform: uppercase; letter-spacing: 2px; font-weight: 700; margin: 20px 20px 0}
.u-section-7 .u-text-2 {width: 478px; margin: 30px 331px 60px} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 390px}
.u-section-7 .u-gallery-1 {height: 181px; margin-right: initial; margin-left: initial}
.u-section-7 .u-gallery-inner-1 {grid-template-columns: repeat(3, auto); grid-gap: 20px 20px}
.u-section-7 .u-back-slide-1 {background-position: 50% 50%}
.u-section-7 .u-back-slide-2 {background-position: 50% 50%}
.u-section-7 .u-back-slide-3 {background-position: 50% 0%}
.u-section-7 .u-back-slide-4 {background-position: 50% 50%}
.u-section-7 .u-back-slide-5 {background-position: 50% 50%}
.u-section-7 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-7 .u-text-2 {margin-left: 231px; margin-right: 231px} }

@media (max-width: 991px){ .u-section-7 .u-gallery-1 {height: 463px; grid-template-columns: repeat(3, auto); margin-right: initial; margin-left: initial}
.u-section-7 .u-gallery-inner-1 {grid-template-columns: repeat(2, auto)}
.u-section-7 .u-text-1 {font-size: 3rem}
.u-section-7 .u-text-2 {margin-left: 121px; margin-right: 121px} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 1129px}
.u-section-7 .u-gallery-1 {height: 782px; grid-template-columns: repeat(2, auto); margin-right: initial; margin-left: initial}
.u-section-7 .u-gallery-inner-1 {grid-template-columns: repeat(1, auto)}
.u-section-7 .u-text-2 {margin-left: 31px; margin-right: 31px} }

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 1567px}
.u-section-7 .u-gallery-1 {height: 1640px; grid-template-columns: repeat(1, auto); margin-right: initial; margin-left: initial}
.u-section-7 .u-text-2 {margin-left: 0; margin-right: 0; width: 340px} }.u-section-8 .u-sheet-1 {min-height: 660px}
.u-section-8 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px}
.u-section-8 .u-layout-cell-1 {min-height: 585px}
.u-section-8 .u-container-layout-1 {padding: 30px}
.u-section-8 .u-text-1 {text-transform: uppercase; font-size: 4.5rem; font-weight: 700; margin: 0 auto 0 0}
.u-section-8 .u-form-1 {height: 437px; margin: 20px -60px 0 0}
.u-section-8 .u-btn-1 {border-style: solid}
.u-section-8 .u-layout-cell-2 {min-height: 585px}
.u-section-8 .u-container-layout-2 {padding: 30px}
.u-section-8 .u-text-2 {font-size: 1.25rem; text-transform: uppercase; font-weight: 100; letter-spacing: 12px; margin: 0 auto 0 0}
.u-section-8 .u-icon-1 {height: 64px; width: 64px; background-image: none; margin: 30px auto 0 0}
.u-section-8 .u-text-3 {margin: 20px auto 0 0}
.u-section-8 .u-icon-2 {height: 64px; width: 64px; background-image: none; margin: 30px auto 0 0}
.u-section-8 .u-text-4 {margin: 20px auto 0 0}
.u-section-8 .u-icon-3 {height: 64px; width: 64px; background-image: none; margin: 30px auto 0 0}
.u-section-8 .u-text-5 {margin: 20px auto 0 0} 

@media (max-width: 1199px){ .u-section-8 .u-sheet-1 {min-height: 430px}
.u-section-8 .u-layout-cell-1 {min-height: 482px}
.u-section-8 .u-form-1 {margin-right: initial; margin-left: initial}
.u-section-8 .u-layout-cell-2 {min-height: 482px} }

@media (max-width: 991px){ .u-section-8 .u-sheet-1 {min-height: 353px}
.u-section-8 .u-layout-cell-1 {min-height: 685px}
.u-section-8 .u-text-1 {font-size: 3rem; margin-right: 0}
.u-section-8 .u-layout-cell-2 {min-height: 685px} }

@media (max-width: 767px){ .u-section-8 .u-sheet-1 {min-height: 580px}
.u-section-8 .u-layout-cell-1 {min-height: 100px}
.u-section-8 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-8 .u-layout-cell-2 {min-height: 100px}
.u-section-8 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-8 .u-sheet-1 {min-height: 439px}
.u-section-8 .u-form-group-1 {width: 100%}
.u-section-8 .u-form-group-2 {width: 100%}
.u-section-8 .u-form-group-3 {width: 100%}
.u-section-8 .u-form-group-4 {width: 100%}
.u-section-8 .u-text-2 {font-size: 1.5} }